*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Cairo;
}

body{
    background: #262626;
}

#crud {
    width: 80%;
    margin: auto;
}

#title, #p-one{
    text-align: center;
    color:white;
}

input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgb(17, 17, 17);
    color: white;
    margin: 4px 0;
    border-radius: 2px;
    padding: 5px;
}

input:focus{
    background-color: black;
}


#price #total{
    background-color: red;
    color: white;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 0px 10px;
    font-size: 18px;
}

#price input{
    width: 20%;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 10px;
    transition: 0.5s;
}

button:hover {
    background-color: black;
    color: white;
}

#outputs{
    margin-top: 10px;
}

#btn-switch {
    display: flex;
    justify-content: space-between;
}
#search-by-category, #search-by-name{
    width: 45%;
}

table{
    color:white;
    width: 100%;
    text-align: center;

}

#update, #delete {
    width: 90%;
}

#delete {
    background-color: red;
    color: white;
}
#delete:hover {
    background-color: black;
    color: white;
}